@use "sass:color";

.alerts {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    max-width: 800px;
    margin-bottom: 50px;
    gap: 20px;
}

@mixin alert_look($color) {
    background: radial-gradient(circle at 100% 0%,
            $color,
            rgba($color, 0.6) 20%,
            rgba($color, 0.1) 60%,
            transparent 100%
    ),
    radial-gradient(circle at 0% 100%,
                    $color,
                    rgba($color, 0.6) 20%,
                    rgba($color, 0.1) 60%,
                    transparent 100%
    );

    box-shadow: 0 0 20px color.scale($color, $alpha: -70%);
}

.alert {
    padding: 20px;
    border: 1px solid white;

    &-- {
        &0 {
            @include alert_look(#333333);
        }

        &1 {
            @include alert_look(color.adjust(blue, $lightness: -20%));
        }

        &2 {
            @include alert_look(color.adjust(#FFEC42, $lightness: -40%));
        }

        &3 {
            @include alert_look(color.adjust(red, $lightness: -20%));
        }
    }

    &__ {
        &heading {
            margin-top: 0;
            margin-bottom: 10px;
        }

        &message {
            margin-bottom: 10px;
        }

        &footer {
            font-size: 0.8em;
        }
    }
}
