$color: #666666;

.body {
	color: $color;
	user-select: none;
	font-size: 0.8rem;
}

.button {
	color: $color;
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	text-decoration: underline;

	&::before {
		display: inline-block;
		content: "↻";
		margin-right: 3px;
		margin-left: 5px;
	}

	&:hover {
		&::before {
			animation: spin 0.2s linear infinite;
			content: "↻";
			margin-right: 3px;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
