.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	color: white;
}

a {
	color: inherit;
}

.outro {
	margin: 30px auto;
	color: #666666;
	font-size: 0.8rem;
}

.loading {
	display: block;
	margin: 10px 0;
	color: #AAAAAA;
	user-select: none;
}

h2 {
	font-weight: lighter;
}

.refresh {
	color: #666666;
	cursor: pointer;
	user-select: none;
	appearance: none;
	background: none;
	border: none;

	&::before {
		display: inline-block;
		content: "↻";
		margin-right: 3px;
	}

	&:hover {
		&::before {
			animation: spin 0.2s linear infinite;
			content: "↻";
			margin-right: 3px;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
